
{{#each this}}

<div  id="{{id}}" class="card col-md-4" {{#if uid}}data-rating={{rating}}{{/if}}>
  <img class="card-img-top movieimg" src={{#if poster_path}}"https://image.tmdb.org/t/p/w342/{{poster_path}}" {{else}} "http://evineyard.co/wp-content/uploads/2015/08/movie-poster-coming-soon.png"{{/if}} alt="{{title}} Movie Poster">
  <div class="card-block">
    <h4 class="card-title">{{title}}</h4>
    <p class="card-text">{{release_date}}</p>
    {{#if actors}}
      {{#each actors}}
        <p class="card-text actors">| {{this}} |</p>
      {{/each}}
      {{else}} <p class="card-text actors">| No actors listed |</p>
    {{/if}}
  {{#if uid}}
     <button class="btn btn-primary delete" id="delete-{{id}}">Delete</button>
     <div class="rating">
        <span id="10">&#10032;</span><span id="9">&#10032;</span><span id="8">&#10032;</span><span id="7">&#10032;</span><span id="6">&#10032;</span><span id="5">&#10032;</span><span id="4">&#10032;</span><span id="3">&#10032;</span><span id="2">&#10032;</span><span id="1">&#10032;</span>
      </div>
  {{else}}
     <button class="btn btn-primary watchlist">Add To Watchlist</button>
  {{/if}}

  </div>
</div>

{{/each}}
</div>

