<button class="btn btn-primary delete" id="delete-{{id}}">Delete</button>
<div class="rating">
  <span id="10" class="{{rating-helper rating 10}}">&#10032;</span><span id="9" class="{{rating-helper rating 9}}">&#10032;</span><span id="8" class="{{rating-helper rating 8}}">&#10032;</span><span id="7" class="{{rating-helper rating 7}}">&#10032;</span><span id="6" class="{{rating-helper rating 6}}">&#10032;</span><span id="5" class="{{rating-helper rating 5}}">&#10032;</span><span id="4" class="{{rating-helper rating 4}}">&#10032;</span><span id="3" class="{{rating-helper rating 3}}">&#10032;</span><span id="2" class="{{rating-helper rating 2}}">&#10032;</span><span id="1" class="{{rating-helper rating 1}}">&#10032;</span>
</div>